/* Efeitos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-parallax1,
.container-parallax2,
.container-parallax3,
.container-parallax4,
.container-parallax5 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

/* Topo da página */
.topo {
    width: 100%;
    position: fixed;
    background-color: #694b24;
    background-size: cover;
    z-index: 1;
}

.topo img{
    width: 130px;
    position: relative;
    left: 6%;
}

.topo div {
    position: absolute;
    top: 35%;
    right: 5%;
}

.topo div a {
    margin-right: 20px;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 3px 5px 2px #000;
    /*text-shadow NÃO CONHECIA! */
    letter-spacing: 2px;
    color: #e2b987;
}

.topo div a:hover {
    margin-right: 20px;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 3px 5px 2px #000;
    /*text-shadow NÃO CONHECIA! */
    letter-spacing: 2px;
    color: #EBC494;
}

/* Container Parallax 1 */
.container-parallax1 {
    background-image: url("../img/parallax-imagem1.png");
    height: 100vh;
}

.container-parallax1 h1 {
    top: 45%;
    right: 0;
    left: 0;
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-family: "Fraunces", serif;
    font-size: 100px;
}

/* Container Parallax 2 */
.container-parallax2 {
    background-image: url("../img/parallax-imagem2.jpg");
    height: 50vh;
}

.container-parallax2 h3,
.container-parallax3 h3 {
    max-width: 500px;
    padding: 10px;

    position: relative;
    top: 45%;
    right: 0;
    left: 0;
    margin: auto;

    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    font-family: "Fraunces", sans-serif;
    text-align: center;

    letter-spacing: 2px;
    background-color: #604829;
    color: #fff;
}


/* Container Parallax 3*/
.container-parallax3 {
    background-image: url("../img/parallax-imagem3.jpg");
    height: 50vh;
}


/* Container Parallax 4 */
.container-parallax4 {
    background-image: url("../img/parallax-imagem4.png");
    height: 100vh;
}

.container-parallax4 h2 {
   padding: 10px;
    position: relative;
    top: 10%;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 24px;
    font-family: "Oswald", serif;
    letter-spacing: 5px;
    text-align: center;
    color: #fff;
    background-color: #604829;
}

.container-parallax4 iframe{
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    margin: 20px auto;
    max-width: 90vw;
    max-height: 70vh;
}

.mapa{
    max-width: 1024px;
    align-items: center;
}

.container-contatos {
    padding: 10px;
    /*position: absolute;
    bottom: 5%;
    right: 0;
    left: 0;*/
    margin: 30px auto;
    background-color: #604829;
}

.container-contatos p {
    color: #fff;
    font-family: "Oswald", sans-serif;
    line-height: 36px;
    text-shadow: 0px 6px 8px #000000;
    text-align: center;
}

/* Efeitos aplicados a classe container-texto */

.container-texto {
    padding: 80px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 1px;
    text-align: center;
    color: #666;
}

.container-texto h2 {
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: "Oswald", sans-serif;
    color: #c4a47c;
}

.container-texto p {
    max-width: 1024px;
    padding: 0px 20px;
    margin: 0 auto;
    font-family: "Lato", "sans-serif";
    line-height: 34px;
    letter-spacing: 1px;
    color: #666;
}

/* Container Parallax 5 */

.container-parallax5 {
	/*padding: 100px 20px;*/	
	background-image: url("../img/cafeteria.jpg");
	background-position: center;
	background-size: cover;
	
	display: flex;
	flex-direction: column;
	align-items: center;

    height: 85vh;
    padding: 0;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: white;
}

.container-parallax5 h2 {
    margin-top: 15px;
    margin-bottom: 30px;
}

.lista-horarios {
	width: 100%;
	max-width: 768px;
}

.lista-horarios li {
	list-style: none;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	gap: 10px;
}

.lista-horarios li h3 {
	flex: 0 1 70px;
}

.lista-horarios li div {
	height: 1px;
	background-color: gray;
	flex: 1 1 auto;
}

.lista-horarios li p, span {
	text-align: right;
	flex: 0 1 90px;
}

.lista-horarios li span {
	color: #c4a47c;
}

/* Rodapé */

.container-rodape {
    position: relative;
    padding: 20px 0;
    line-height: 34px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: #000000;
    color: #fff;
}

.container-rodape a {
    color: #c4a47c;
    text-decoration: none;
}

.container-rodape a:hover {
    color: #EBC494;
    text-decoration: none;
}

.link-seta-topo a {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 80px;
    right: 50px;

    background-image: url("../img/seta-para-cima.png");
    background-position: center;
    background-size: cover;
    background-color: #c4a47c;
    border-radius: 4px;
}

/* Rodapé */

/*design responsivo*/

@media(max-width: 1100px)
{
    .lista-horarios {
        width: 100%;
        max-width: 650px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-parallax4 iframe{
        max-width: 90vw;
        max-height: 70vh;
    }
}

@media(max-width: 768px)
{
    .link-seta-topo a {
        display: inline-block;
        width: 35px;
        height: 35px;
        position: absolute;
        bottom: 10px;
        right: 20px;
    }  

    .container-parallax4 iframe{
        max-width: 90vw;
        max-height: 70vh;
    }
}


@media(max-width: 600px)
{
    .container-parallax1 h1 {
        font-size: 50px;
    }

    .topo img{
        width: 70px;
    }    
    .topo div a {
        font-size: 12px;
        /*font-family: "Oswald", sans-serif;*/
    }    

    .topo div a:hover {
        font-size: 12px;
        /*font-family: "Oswald", sans-serif;*/
        color: #EBC494;
    }

    .lista-horarios {
        width: 100%;
        max-width: 400px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .container-parallax4 iframe{
        max-width: 90vw;
        max-height: 70vh;
    }
      
}
